.LoadTable-container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 40px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.LoadTable-table {
  width: 100%;
  font-size: 13px;
  border-collapse: separate;
  border-spacing: 0;
}

.LoadTable-th,
.LoadTable-td {
  padding: 7px 10px;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.LoadTable-th {
  color: #fff;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background-color: var(--table-header-bg);
}

.LoadTable-table thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.LoadTable-sortable {
  cursor: pointer;
}

.LoadTable-sortable:hover {
  background-color: var(--row-hover-bg);
}

.LoadTable-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.LoadTable-sticky-col {
  text-align: left;
  position: sticky;
  left: 0;
  z-index: 11;
  background-color: var(--bg-color);
  border-right: 1px solid var(--border-color);
  width: 1%;
}

.LoadTable-table thead .LoadTable-sticky-col {
  background-color: var(--table-header-bg);
  z-index: 12;
}

.LoadTable-td {
  text-align: right;
  white-space: nowrap;
  color: #c9d1d9;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
}

.LoadTable-td:last-child, .LoadTable-th:last-child {
  border-right: none;
}

.LoadTable-tr:last-child .LoadTable-td {
  border-bottom: none;
}

.LoadTable-tr:hover .LoadTable-td {
  background-color: var(--row-hover-bg);
}

.LoadTable-tr:hover .LoadTable-td.LoadTable-sticky-col {
  background-color: #161b22;
}

.LoadTable-name-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LoadTable-link {
  color: var(--link-color);
  text-decoration: none;
}

.LoadTable-link:hover {
  text-decoration: underline;
}

.LoadTable-version {
  margin-left: 0.5rem;
  opacity: 0.6;
  font-size: 0.9em;
  font-weight: normal;
}


.LoadTable-factor {
  font-size: 0.85em;
  font-weight: normal;
  opacity: 0.8;
  margin-left: 4px;
}
