.StatsTable-container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 40px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.StatsTable-table {
  width: 100%;
  font-size: 13px;
  border-collapse: separate;
  border-spacing: 0;
}

.StatsTable-table thead {
  background-color: var(--table-header-bg);
  position: sticky;
  top: 0;
  z-index: 10;
}

.StatsTable-th, .StatsTable-td {
  padding: 8px 12px;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.StatsTable-th {
  color: #fff;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
  user-select: none;
}

.StatsTable-sortable {
  cursor: pointer;
}

.StatsTable-sortable:hover {
  background-color: var(--row-hover-bg);
}

.StatsTable-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.StatsTable-sticky-col {
  text-align: left;
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: var(--bg-color);
  border-right: 1px solid var(--border-color);
  width: 1%;
}

.StatsTable-table thead .StatsTable-sticky-col {
  background-color: var(--table-header-bg);
  z-index: 11;
}

.StatsTable-td {
  text-align: right;
  white-space: nowrap;
  color: #c9d1d9;
  font-weight: bold;
}

.StatsTable-td:last-child, .StatsTable-th:last-child {
  border-right: none;
}

.StatsTable-tr:last-child .StatsTable-td {
  border-bottom: none;
}

.StatsTable-tr:hover .StatsTable-td {
  background-color: var(--row-hover-bg);
}

.StatsTable-tr:hover .StatsTable-td.StatsTable-sticky-col {
  background-color: #161b22;
}

.StatsTable-link {
  color: var(--link-color);
  text-decoration: none;
}

.StatsTable-link:hover {
  text-decoration: underline;
}

.StatsTable-version {
  margin-left: 0.5rem;
  opacity: 0.6;
  font-size: 0.9em;
  font-weight: normal;
}

.StatsTable-name-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
